body {
  text-align: center;
  background-color: #fafafa;
}
.container {
  margin: 120px auto;
  max-width: 800px;
  background-image: url("https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/6QCYLKU7T4I6VIW5SB3RXVDDFY.jpg&w=1440");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
form {
  padding: 30px;
  display: flex;
}
.search-form-input {
  background-color: #fafafa;
  border: none;
  width: 80%;
  padding: 15px;
  font-size: 16px;
  line-height: 15px;
  border-radius: 50px;
}
.submit-button {
  background-color: #b32824;
  color: white;
  margin-left: 10px;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
}
.poem {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  line-height: 24px;
  border-radius: 10px;
}
footer {
  margin-top: 50px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
h1 {
  color: #fafafa;
}
a {
  color: #b32824;
}
