body {
  text-align: center;
  background-color: #fafafa;
  font-family: "poppins", sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 800px;
  background-image: url("../images/theaterstage.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
form {
  padding: 30px;
  display: flex;
}
.search-form-input {
  background-color: #fafafa;
  border: none;
  width: 80%;
  padding: 15px;
  font-size: 16px;
  line-height: 15px;
  border-radius: 50px;
}
.submit-button {
  background-color: #b32824;
  color: white;
  margin-left: 10px;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
}
.poem {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  line-height: 24px;
  border-radius: 10px;
}
footer {
  margin-top: 50px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
h1 {
  color: #fafafa;
  letter-spacing: 5px;
}
a {
  color: #b32824;
}
@media (max-width: 800px) {
  .container {
    margin: 120px auto;
    padding: 0px;
  }
  h1 {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 20px;
  }
  .search-form-input {
    width: 80%;
    padding: 15px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 50px;
  }

  .poem {
    font-size: 10px;
    background: rgba(255, 255, 255, 0.6);
    padding: 0px;
    line-height: 24px;
    border-radius: 40px;
  }
  footer {
    margin-top: 50px;
    font-size: 10px;
  }
  .submit-button {
    font-size: 10px;
  }
}
